@import 'src/styles/media_query';

.dropdown {
  display: flex;
  gap: 1rem;
  > div {
    align-self: center;
  }
}

.inputSelect {
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  padding: 6px 12px 6px 2px;
  font-size: 14px;
  cursor: pointer;

  ::hover {
    border: none;
  }
  :focus,
  :active {
    outline: none;
    box-shadow: none;
  }

  @include sm {
    width: fit-content;
  }
  @include md {
    width: 200px;
  }
}
